name: Check for dead links

on:
  schedule:
    - cron: "0 0 1 * *" # Runs at 00:00 UTC on the 1st day of every month
  workflow_dispatch: # Allows manual triggering

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Install Python
        run: uv python install 3.13
      - name: Run test
        run: uv run pytest tests/
